src/server/container/dac/src/wsdl/com/bluejungle/destiny/interfaces/ReportExecutionInterface.v1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
					xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
					xmlns:xs="http://www.w3.org/2001/XMLSchema" 
					xmlns:action="http://bluejungle.com/destiny/types/actions/v1"
					xmlns:result="http://bluejungle.com/destiny/types/report_result/v1"
					xmlns:basic="http://bluejungle.com/destiny/types/basic/v1"
					xmlns:faults="http://bluejungle.com/destiny/types/basic_faults/v1"
					xmlns:obligation="http://bluejungle.com/destiny/types/obligations/v1"
					xmlns:policy="http://bluejungle.com/destiny/types/policies/v1"
					xmlns:resource="http://bluejungle.com/destiny/types/resources/v1"
					xmlns:types="http://bluejungle.com/destiny/types/report/v1" 
					xmlns:user="http://bluejungle.com/destiny/types/users/v1"
					xmlns:tns="http://bluejungle.com/destiny/interfaces/report/v1" 
					targetNamespace="http://bluejungle.com/destiny/interfaces/report/v1">

	<wsdl:types>
		<xs:schema targetNamespace="http://bluejungle.com/destiny/services/report/v1">
			<xs:import namespace="http://bluejungle.com/destiny/types/actions/v1" schemaLocation="../types/ActionTypes.v1.xsd"/>
			<xs:import namespace="http://bluejungle.com/destiny/types/basic_faults/v1" schemaLocation="../types/BasicFaults.v1.xsd"/>
			<xs:import namespace="http://bluejungle.com/destiny/types/basic/v1" schemaLocation="../types/BasicTypes.v1.xsd"/>
			<xs:import namespace="http://nextlabs.com/destiny/types/custom_attr/v1" schemaLocation="../../../nextlabs/destiny/types/CustomAttributesTypes.v1.xsd"/>
			<xs:import namespace="http://bluejungle.com/destiny/types/obligations/v1" schemaLocation="../types/ObligationTypes.v1.xsd"/>
			<xs:import namespace="http://bluejungle.com/destiny/types/policies/v1" schemaLocation="../types/PolicyTypes.v1.xsd"/>
			<xs:import namespace="http://bluejungle.com/destiny/types/report/v1" schemaLocation="../types/ReportFaults.v1.xsd"/>
			<xs:import namespace="http://bluejungle.com/destiny/types/report/v1" schemaLocation="../types/ReportTypes.v1.xsd"/>
			<xs:import namespace="http://bluejungle.com/destiny/types/report_result/v1" schemaLocation="../types/ReportResultTypes.v1.xsd"/>
			<xs:import namespace="http://bluejungle.com/destiny/types/resources/v1" schemaLocation="../types/ResourceTypes.v1.xsd"/>
			<xs:import namespace="http://bluejungle.com/destiny/types/users/v1" schemaLocation="../types/UserTypes.v1.xsd"/>
		</xs:schema>
	</wsdl:types>
	
	<wsdl:message name="executeReportRequest">
		<!-- Report to execute -->
		<wsdl:part name="report" type="types:Report"/>
		<!-- Number of results to fetched during this call -->
		<wsdl:part name="nbRows" type="xs:int"/>
		<!-- Maximum number of results that will be prepared to be fetched for this report -->
		<wsdl:part name="maxNbResults" type="xs:int"/>
	</wsdl:message>
	
	<wsdl:message name="executeReportResponse">
		<wsdl:part name="reportResponse" type="result:ReportResult"/>
	</wsdl:message>

	<wsdl:message name="getNextResultSetRequest">
		<!-- Current report state -->
		<wsdl:part name="currentState" type="result:ReportState"/>
		<!-- Number of rows to be fetched -->
		<wsdl:part name="nbRows" type="xs:int"/>
	</wsdl:message>

	<wsdl:message name="getNextResultSetResponse">
		<wsdl:part name="result" type="result:ReportResult"/>
	</wsdl:message>
	
	<wsdl:message name="getLogDetailRequest">
		<!-- Report that is currently run -->
		<wsdl:part name="report" type="types:Report"/>
		<!-- ID of the log details to be fetched -->
		<wsdl:part name="recordId" type="xs:long"/>
	</wsdl:message>

	<wsdl:message name="getLogDetailResponse">
		<wsdl:part name="result" type="result:LogDetailResult"/>
	</wsdl:message>

	<wsdl:message name="terminateReportExecutionRequest">
		<wsdl:part name="currentState" type="result:ReportState"/>
	</wsdl:message>

	<wsdl:message name="terminateReportExecutionResponse"/>
								
	<!-- Fault messages -->
	<wsdl:message name="AccessDeniedFault">
		<wsdl:part name="AccessDeniedFault" type="faults:AccessDeniedFault"/>
	</wsdl:message>
	<wsdl:message name="ExecutionFault">
		<wsdl:part name="ExecutionFault" type="types:ExecutionFault"/>
	</wsdl:message>
	<wsdl:message name="InvalidArgumentFault">
		<wsdl:part name="InvalidArgumentFault" type="types:InvalidArgumentFault"/>
	</wsdl:message>
	<wsdl:message name="ServiceNotReadyFault">
		<wsdl:part name="ServiceNotReadyFault" type="faults:ServiceNotReadyFault"/>
	</wsdl:message>
	<wsdl:message name="UnknownEntryFault">
		<wsdl:part name="UnknownEntryFault" type="faults:UnknownEntryFault"/>
	</wsdl:message>
	
	<wsdl:portType name="reportExecutionIF">
		<!-- Executes a report -->		
		<wsdl:operation name="executeReport">
			<wsdl:input message="tns:executeReportRequest"/>
			<wsdl:output message="tns:executeReportResponse"/>
			<wsdl:fault name="AccessDeniedFault" message="tns:AccessDeniedFault"/>
			<wsdl:fault name="ExecutionFault" message="tns:ExecutionFault"/>
			<wsdl:fault name="InvalidArgumentFault" message="tns:InvalidArgumentFault"/>
			<wsdl:fault name="ServiceNotReadyFault" message="tns:ServiceNotReadyFault"/>
		</wsdl:operation>

		<!-- Fetches the next set of results -->
		<wsdl:operation name="getNextResultSet">
			<wsdl:input message="tns:getNextResultSetRequest"/>
			<wsdl:output message="tns:getNextResultSetResponse"/>
			<wsdl:fault name="AccessDeniedFault" message="tns:AccessDeniedFault"/>
			<wsdl:fault name="ExecutionFault" message="tns:ExecutionFault"/>
			<wsdl:fault name="ServiceNotReadyFault" message="tns:ServiceNotReadyFault"/>
			<wsdl:fault name="UnknownEntryFault" message="tns:UnknownEntryFault"/>
		</wsdl:operation>
		
		<!-- Fetches the details of a log -->
		<wsdl:operation name="getLogDetail">
			<wsdl:input message="tns:getLogDetailRequest"/>
			<wsdl:output message="tns:getLogDetailResponse"/>
			<wsdl:fault name="AccessDeniedFault" message="tns:AccessDeniedFault"/>
			<wsdl:fault name="ExecutionFault" message="tns:ExecutionFault"/>
			<wsdl:fault name="ServiceNotReadyFault" message="tns:ServiceNotReadyFault"/>
			<wsdl:fault name="UnknownEntryFault" message="tns:UnknownEntryFault"/>
		</wsdl:operation>
		
		<!-- Executes a report -->		
		<wsdl:operation name="terminateReportExecution">
			<wsdl:input message="tns:terminateReportExecutionRequest"/>
			<wsdl:output message="tns:terminateReportExecutionResponse"/>
			<wsdl:fault name="AccessDeniedFault" message="tns:AccessDeniedFault"/>
			<wsdl:fault name="ExecutionFault" message="tns:ExecutionFault"/>
			<wsdl:fault name="ServiceNotReadyFault" message="tns:ServiceNotReadyFault"/>
			<wsdl:fault name="UnknownEntryFault" message="tns:UnknownEntryFault"/>
		</wsdl:operation>		
	</wsdl:portType>
</wsdl:definitions>
