src/server/container/dac/src/wsdl/com/bluejungle/destiny/types/ObligationTypes.v1.xsd

<xs:schema 	targetNamespace="http://bluejungle.com/destiny/types/obligations/v1" 
			xmlns:xs="http://www.w3.org/2001/XMLSchema" 
			xmlns:types="http://bluejungle.com/destiny/types/obligations/v1">

	<xs:simpleType name="ObligationType">
		<xs:restriction base="xs:string">
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="ObligationList">
		<xs:sequence>
			<xs:element name="values" type="types:ObligationType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>