src/server/container/dac/src/wsdl/com/bluejungle/destiny/bindings/InquiryAlertBindings.v1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://bluejungle.com/destiny/bindings/inquiry_alert/v1"
				  xmlns:tns="http://bluejungle.com/destiny/bindings/inquiry_alert/v1"
				  xmlns:interfaces="http://bluejungle.com/destiny/interfaces/inquiry_alert/v1" 
				  xmlns:xs="http://www.w3.org/1999/XMLSchema" 
				  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
				  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

   <wsdl:import namespace="http://bluejungle.com/destiny/interfaces/inquiry_alert/v1" location="../interfaces/InquiryAlertInterfaces.v1.wsdl"/>
   
   <wsdl:binding name="InquiryAlertServiceIFBinding" type="interfaces:InquiryAlertServiceIF">

      <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="createInquiryAlert">
         <wsdl:input name="createInquiryAlertRequest">
            <soap:body namespace="http://bluejungle.com/destiny/services/dac" use="literal"/>
         </wsdl:input>
         <wsdl:output name="createInquiryAlertResponse">
            <soap:body namespace="http://bluejungle.com/destiny/services/dac" use="literal"/>
         </wsdl:output>
      </wsdl:operation>

      <wsdl:operation name="getInquiryAlerts">
         <wsdl:input name="getInquiryAlertsRequest">
            <soap:body namespace="http://bluejungle.com/destiny/services/dac" use="literal"/>
         </wsdl:input>
         <wsdl:output name="getInquiryAlertsResponse">
            <soap:body namespace="http://bluejungle.com/destiny/services/dac" use="literal"/>
         </wsdl:output>
      </wsdl:operation>

      <wsdl:operation name="getInquiryAlertById">
         <wsdl:input name="getInquiryAlertByIdRequest">
            <soap:body namespace="http://bluejungle.com/destiny/services/dac" use="literal"/>
         </wsdl:input>
         <wsdl:output name="getInquiryAlertByIdResponse">
            <soap:body namespace="http://bluejungle.com/destiny/services/dac" use="literal"/>
         </wsdl:output>
      </wsdl:operation>

      <wsdl:operation name="deleteInquiryAlertById">
         <wsdl:input name="deleteInquiryAlertByIdRequest">
            <soap:body namespace="http://bluejungle.com/destiny/services/dac" use="literal"/>
         </wsdl:input>
         <wsdl:output name="deleteInquiryAlertByIdResponse">
            <soap:body namespace="http://bluejungle.com/destiny/services/dac" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
	  
	  <wsdl:operation name="updateInquiryAlert">
         <wsdl:input name="updateInquiryAlertRequest">
            <soap:body namespace="http://bluejungle.com/destiny/services/dac" use="literal"/>
         </wsdl:input>
         <wsdl:output name="updateInquiryAlertResponse">
            <soap:body namespace="http://bluejungle.com/destiny/services/dac" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
	  
      <wsdl:operation name="getInquiryAlertLogEntries">
         <wsdl:input name="getInquiryAlertLogEntriesRequest">
            <soap:body namespace="http://bluejungle.com/destiny/services/dac" use="literal"/>
         </wsdl:input>
         <wsdl:output name="getInquiryAlertLogEntriesResponse">
            <soap:body namespace="http://bluejungle.com/destiny/services/dac" use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>

</wsdl:definitions>