src/server/container/dms/src/wsdl/com/bluejungle/destiny/services/management/types/PolicyDeployment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema  targetNamespace="http://bluejungle.com/destiny/services/management/types" 
			xmlns:xs="http://www.w3.org/2001/XMLSchema" 
			xmlns:types="http://bluejungle.com/destiny/services/management/types">
			
	<xs:complexType name="DeploymentInfo">
		<xs:sequence>
			<xs:element name="pushList">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="hostName" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
